A DATASET WITH AN UNEQUAL CLASS DISTRIBUTION

In [2]:
import pandas as pd
import numpy as np

In [3]:
credit_data = pd.read_csv("E:\Programming\Large datasets\credit_data.csv")
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
#distribution of the two classes
credit_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

THIS IS HIGHLY IMBALANCED DATASET
0 --> LEGIT TRANSCATION
1 --> FRAUD TRANSACTION

In [7]:
# seprating legit and frad
legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [8]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

UNDER SAMPLING

BUILD A SAMPLE DATASET CONTAINING SIMILAR DISTRIBUTION OF LEGIT AND FRAUD

In [9]:
legit_sample = legit.sample(n = 492)

In [10]:
legit_sample.shape

(492, 31)

CONCATNATE TWO DATAFRAMES

In [11]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
50629,44574.0,-1.456317,-1.105725,1.140941,-1.361693,-0.852942,0.163235,1.698604,-0.443787,-1.420357,...,-0.474227,-0.607316,0.844269,0.097545,-0.536981,0.657246,-0.058759,-0.159376,362.95,0
113992,73292.0,-0.297105,-0.220965,2.374124,-1.083331,-1.589881,-0.267116,-0.414808,-1.611470,-1.606113,...,0.686543,0.387955,-0.097298,0.699706,-0.550910,-0.027624,-0.637297,-0.534008,40.00,0
236818,148966.0,-0.427573,0.875703,-1.409178,-1.836451,2.806362,3.389105,0.355655,0.939737,0.213109,...,-0.330085,-0.757812,0.146556,0.680898,-0.353073,0.172065,0.484720,0.206910,10.74,0
130334,79334.0,1.035244,-1.236366,0.910970,-0.632366,-1.607494,-0.045676,-1.125007,0.248257,-0.493745,...,0.533984,1.151698,-0.153317,0.238260,0.207813,-0.058291,0.018841,0.032945,134.99,0
7803,10859.0,1.222763,0.009754,0.705194,0.099297,-0.534542,-0.502283,-0.361414,-0.112841,1.668138,...,-0.249903,-0.446695,0.128667,0.077542,0.019335,0.894179,-0.082689,0.001579,12.80,0

In [14]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64